# DATA ANALYSIS WITH PANDAS

Number 1
Write a Pandas program to compare the elements of two Pandas series. Sample Series [4,65,436,3,9], [7,0,3,897,9]

In [1]:
# Import pandas libary
import pandas as pd

# Create the Sample Series 1 and 2
series_1 = pd.Series([4, 65, 436, 3, 9])
series_2 = pd.Series([7, 0, 3, 897, 9])

In [2]:
# Compare the elements of the series
comparison = series_1 == series_2
print(comparison)

0    False
1    False
2    False
3    False
4     True
dtype: bool

Number 2 Write a Pandas program to add, subtract, multiply and divide two Pandas series. Sample Series: [2,4,6,8,14], [1,3,5,7,9]

In [3]:
# create the  sample series
series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

In [4]:
# Addition
add = series1 + series2
print("Answer After Addition")
print(add)

Answer After Addition
0     3
1     7
2    11
3    15
4    23
dtype: int64

In [5]:
# Subtraction
subtraction = series1 - series2
print("\nAnswer After Subtraction:")
print(subtraction)

Answer After Subtraction:
0    1
1    1
2    1
3    1
4    5
dtype: int64

In [6]:
# Multiplication
multiplication = series1 * series2
print("\nAnswer After Multiplication:")
print(multiplication)

Answer After Multiplication:
0      2
1     12
2     30
3     56
4    126
dtype: int64

In [7]:
# Division
division = series1 / series2
print("\nAnswer After Division:")
print(division)

Answer After Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

Number 3 Write a Pandas program to convert a dictionary to a Pandas series. Sample dictionary: dictionary1 = {‘Josh’: 24, ‘Sam’: 36, ‘Peace’: 19, ‘Charles’: 65, ‘Tom’: 44}

In [8]:
#Dictionary
dictionary = {
    'Josh': 24, 
    'Sam': 36, 
    'Peace': 19, 
    'Charles': 65, 
    'Tom': 44
}

# Convert dictionary to series
series = pd.Series(dictionary)

# Print the Pandas series
print(series)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

Number 4 Write a Pandas program to convert a given series to an array. Sample series: [‘Love’, 800, ‘Joy’, 789.9, ‘Peace’, True]

In [9]:
# import the numpy libaray that will be used to convert the series to an array
import numpy as np

# Sample series
series3 = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert series to array
array1 = np.array(series3)

# Print the array
print(array1)
print(type(array1))

['Love' 800 'Joy' 789.9 'Peace' True]
<class 'numpy.ndarray'>

Number 5 Write a Pandas program to display the most frequent value in the given series and replace everything else as ‘Other’ in the series. (Use the ‘HomeTeamGoals’ column in the dataset provided)

In [10]:
# to use the HomeTeamGoals’ column we must first read the dataset given to us
# reading the dataset
df = pd.read_csv('AfricaCupofNationsMatches.csv')
df

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

In [11]:
# Calculate the most frequent value we use the mode() function with [0] index set at 0 so that it call run through all the values in the column 
most_frequent_value = df['HomeTeamGoals'].mode()[0]

# Replace everything else as 'Other'
df['HomeTeamGoals'] = df['HomeTeamGoals'].apply(lambda x: most_frequent_value
                                                if x == most_frequent_value 
                                                else 'Other')

# Print the modified series and it will only display the values of that column
print(df['HomeTeamGoals'])

0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

# DATAFRAMES

1.	Write a Pandas program to read the given csv file.

In [12]:
# reading the dataset
import pandas as pd
df1 = pd.read_csv('AfricaCupofNationsMatches.csv')

# to display the dataset
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

2.	Write a Pandas program to get the first 7 rows of your data frame.

In [13]:
# to display the first 7 rows the data frame
df1.head(7)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0

3.	Write a Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ and ‘AwayTeamGoals’ columns from your data frame.

In [14]:
# One must input the names of the columns you want to display

columns_wanted = df1[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]

# to display the columns
columns_wanted

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

4.	Write a Pandas program to select the rows where Egypt appears.

In [15]:
# I specified which column to use because only 2 columns contain Countries
# Using HomeTeam column
egypt_rows = df1[df1['HomeTeam'] == 'Egypt']
egypt_rows

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,2.0,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
14,1963,26-Nov-63,NaN,Egypt,Sudan,2.0,2.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
16,1963,30-Nov-63,NaN,Egypt,Ethiopia,3.0,0.0,Third place match,NaN,Accra Sports Stadium,Accra,NaN

In [16]:
# I specified which column to use because only 2 columns contain Countries
# Using AwayTeam column
egypt_rows2 = df1[df1['AwayTeam'] == 'Egypt']
egypt_rows2

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN

5.	Write a Pandas program to count the number of rows and columns of your data frame.

In [17]:
# we use the shape() function
df1.shape

(622, 12)

6.	Write a Pandas program to select the rows where the ‘Attendance’ is missing.

In [18]:
# use the isnull() method to select the rows that are missing values in the Attendance column

missing_attendance_rows = df1[df1['Attendance'].isnull()]
missing_attendance_rows

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
10,1963,24-Nov-63,NaN,Ghana,Tunisia,1.0,1.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
11,1963,26-Nov-63,NaN,Ghana,Ethiopia,2.0,0.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
565,2017,29 January 2017 (2017-01-29),20:00,Egypt,Morocco,1.0,0.0,Quarter-finals,NaN,Stade de Port-Gentil,Port-Gentil,NaN
566,2017,1 February 2017 (2017-02-01),20:00,Burkina Faso,Egypt,1.0,1.0,Semi-finals,Egypt win on Penalities 3-4,Stade de l'Amitié,Libreville,NaN
567,2017,2 February 2017 (2017-02-02),20:00,Cameroon,Ghana,2.0,0.0,Semi-finals,NaN,Stade de Franceville,Franceville,NaN
568,2017,4 February 2017 (2017-02-04),20:00,Burkina Faso,Ghana,1.0,0.0,Third place play-off,NaN,Stade de Port-Gentil,Port-Gentil,NaN
569,2017,5 February 2017 (2017-02-05),20:00,Egypt,Cameroon,1.0,2.0,Final,NaN,Stade de l'Amitié,Libreville,NaN

7.	Write a Pandas program to select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.

In [19]:
# use the & to select both conditions between 3 and 6 inclusive

selected_rows = df1[(df1['HomeTeamGoals'] >= 3) & (df1['HomeTeamGoals'] <= 6)]
selected_rows

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
553,2017,20 January 2017 (2017-01-20),20:00,Morocco,Togo,3.0,1.0,Group C,NaN,Stade d'Oyem,Oyem,NaN
585,2019,27 June 2019 (2019-06-27),22:00,Kenya,Tanzania,3.0,2.0,Group C,NaN,30 June Stadium,Cairo,7233.0
595,2019,24 June 2019 (2019-06-24),22:00,Mali,Mauritania,4.0,1.0,Group E,NaN,Suez Stadium,Suez,6202.0
608,2019,6 July 2019 (2019-07-06),18:00,Nigeria,Cameroon,3.0,2.0,Round of 16,NaN,Alexandria Stadium,Alexandria,10000.0
611,2019,7 July 2019 (2019-07-07),21:00,Algeria,Guinea,3.0,0.0,Round of 16,NaN,30 June Stadium,Cairo,8205.0

8.	Write a Pandas program to change the “AwayTeamGoals” in the 3rd row to 10.

In [20]:
# we use the loc function to change values or replace them in the column

df1.loc[2, 'AwayTeamGoals'] = 10
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

9.	Write a Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamScores’ in descending order.

In [21]:
# use the sort_values() function to arrange the values in the column
# and the ascending=[True, False] to arrange them in ascending and descending order

sorted_df1 = df1.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
sorted_df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
205,1990,2-Mar-90,NaN,Algeria,Nigeria,5.0,1.0,Group A,NaN,Stade 5 Juillet 1962,Algiers,85000.0
29,1968,14-Jan-68,NaN,Algeria,Uganda,4.0,0.0,Group A,NaN,Hailé Sélassié Stadium,Addis Ababa,25000.0
135,1980,16-Mar-80,NaN,Algeria,Guinea,3.0,2.0,Group B,NaN,Liberty Stadium,Ibadan,20000.0
164,1984,5-Mar-84,NaN,Algeria,Malawi,3.0,0.0,Group B,NaN,Stade Bouaké,Bouaké,10000.0
171,1984,17-Mar-84,NaN,Algeria,Egypt,3.0,1.0,Third place match,NaN,Stade Félix Houphouët-Boigny,Abidjan,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
521,2012,12-Feb-12,20:30[note 1],Zambia,Ivory Coast,0.0,0.0,Final,Zambia win on Penalities 8-7,Stade d'Angondjé,Libreville,40000.0
549,2017,23 January 2017 (2017-01-23),20:00,Zimbabwe,Tunisia,2.0,4.0,Group B,NaN,Stade de l'Amitié,Libreville,NaN
398,2004,25-Jan-04,16:30,Zimbabwe,Egypt,1.0,2.0,Group C,NaN,Stade Taïeb El Mhiri,Sfax,22000.0
437,2006,23-Jan-06,20:00,Zimbabwe,Senegal,0.0,2.0,Group D,NaN,Port Said Stadium,Port Said,15000.0
575,2019,30 June 2019 (2019-06-30),21:00,Zimbabwe,DR Congo,0.0,4.0,Group A,NaN,30 June Stadium,Cairo,4364.0

10.	Write a Pandas program to get list from DataFrame column headers.

In [22]:
# use the .tolist() function to form a list of the column headers

column_headers = df1.columns.tolist()
column_headers

['Year',
 'Date ',
 'Time ',
 'HomeTeam',
 'AwayTeam',
 'HomeTeamGoals',
 'AwayTeamGoals',
 'Stage',
 'SpecialWinConditions',
 'Stadium',
 'City',
 'Attendance']

11.	Write a Pandas program to append a column of your choice to your DataFrame.

In [23]:
# appending a new empty column to the dataset

df1['MyColumn'] = ''
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,MyColumn
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0,
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0,
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0,
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0,
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0,

12.	Write a Pandas program to add 2 rows to your DataFrame.

In [25]:
# Create the new rows as a list of dictionaries
new_rows = [{'Year': '', 'Date': '', 'Time': '', 'HomeTeam':'', 'AwayTeam': '', 'HomeTeamGoals':'', 'AwayTeamGoals':'','Stage':'', 'SpecialWinConditions':'', 'Stadium':'', 'City':'', 'Attendance':'', 'MyColumn':'' },
            {'Year': '', 'Date': '', 'Time': '', 'HomeTeam':'', 'AwayTeam': '', 'HomeTeamGoals':'', 'AwayTeamGoals':'','Stage':'', 'SpecialWinConditions':'', 'Stadium':'', 'City':'', 'Attendance':'', 'MyColumn':'' }]

# Convert the new_rows to a DataFrame
new_rows_df = pd.DataFrame(new_rows)

# Concatenate the new_rows DataFrame with df1
df1 = pd.concat([df1, new_rows_df], ignore_index=True)
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,MyColumn,Date,Time
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,,NaN,NaN
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,,NaN,NaN
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,,NaN,NaN
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0,,NaN,NaN
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0,,NaN,NaN
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0,,NaN,NaN
622,,NaN,NaN,,,,,,,,,,,,
623,,NaN,NaN,,,,,,,,,,,,

13.	Write a Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.

In [24]:
# use the loc function to change values in the columns

df1.loc[df1['AwayTeam'] == 'Uganda', 'AwayTeam'] = 'China'
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,MyColumn
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0,
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0,
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0,
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0,
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0,

14.	Write a Pandas program to reset index in your DataFrame.

In [25]:
# we use the reset_index() method to reset the index of the rows in the dataset

df1.reset_index(drop=True, inplace=True)
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,MyColumn
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0,
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0,
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0,
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0,
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0,

15.	Write a Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.

In [26]:
if 'Stadium' in df1.columns:
    print("'Stadium' column is present.")
else:
    print("'Stadium' column is not present.")

'Stadium' column is present.

16.	Write a Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)

In [29]:
# to replace all strings in the column with 0
df1['AwayTeamGoals'] = df1['AwayTeamGoals'].replace(r'.*', 0, regex=True)

In [27]:
# to convert from int to float we use the .astype(float)

df1['AwayTeamGoals'] = df1['AwayTeamGoals'].astype(float)
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,MyColumn
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0,
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0,
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0,
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0,
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0,

17.	Write a Pandas program to remove the last 10 rows from your DataFrame.

In [28]:
# to remove rows we use the '-' to remove row starting from the last and a number to show how many have been removed or should be removed

df1 = df1[:-10]
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,MyColumn
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2019,5 July 2019 (2019-07-05),21:00,Uganda,Senegal,0.0,1.0,Round of 16,NaN,Cairo International Stadium,Cairo,6950.0,
608,2019,6 July 2019 (2019-07-06),18:00,Nigeria,Cameroon,3.0,2.0,Round of 16,NaN,Alexandria Stadium,Alexandria,10000.0,
609,2019,6 July 2019 (2019-07-06),21:00,Egypt,South Africa,0.0,1.0,Round of 16,NaN,Cairo International Stadium,Cairo,75000.0,
610,2019,7 July 2019 (2019-07-07),18:00,Madagascar,DR Congo,2.0,2.0,Round of 16,Madagascar win on Penalities 4-2,Alexandria Stadium,Alexandria,5890.0,
611,2019,7 July 2019 (2019-07-07),21:00,Algeria,Guinea,3.0,0.0,Round of 16,NaN,30 June Stadium,Cairo,8205.0,

18.	Write a Pandas program to iterate over rows in your DataFrame.

In [32]:
for index, row in df1.iterrows():
    # Access row values using row['column_name'] or row[index]
    print(row['Year'], row['HomeTeam'])

1957 Sudan
1957 Ethiopia
1957 Egypt
1959 Egypt
1959 Sudan
1959 Egypt
1962 Ethiopia
1962 Egypt
1962 Tunisia
1962 Ethiopia
1963 Ghana
1963 Ghana
1963 Ethiopia
1963 Egypt
1963 Egypt
1963 Sudan
1963 Egypt
1963 Ghana
1965 Tunisia
1965 Senegal
1965 Senegal
1965 Ghana
1965 Ivory Coast
1965 Ghana
1965 Senegal
1965 Ghana
1968 Ethiopia
1968 Ivory Coast
1968 Ethiopia
1968 Algeria
1968 Ivory Coast
1968 Ethiopia
1968 Ghana
1968 Congo-Kinshasa
1968 Senegal
1968 Ghana
1968 Congo-Kinshasa
1968 Ghana
1968 Ethiopia
1968 Ghana
1968 Ivory Coast
1968 Congo-Kinshasa
1970 Cameroon
1970 Sudan
1970 Cameroon
1970 Ivory Coast
1970 Ivory Coast
1970 Sudan
1970 Ghana
1970 United Arab Rep.
1970 Congo-Kinshasa
1970 United Arab Rep.
1970 Guinea
1970 United Arab Rep.
1970 Ivory Coast
1970 United Arab Rep.
1970 United Arab Rep.
1970 Sudan
1972 Cameroon
1972 Mali
1972 Mali
1972 Cameroon
1972 Togo
1972 Cameroon
1972 Congo
1972 Zaire
1972 Morocco
1972 Zaire
1972 Morocco
1972 Congo
1972 Cameroon
1972 Zaire
1972 Cameroon
1972 Congo
1974 Egypt
1974 Zambia
1974 Egypt
1974 Ivory Coast
1974 Egypt
1974 Zambia
1974 Zaire
1974 Congo
1974 Guinea
1974 Congo
1974 Congo
1974 Zaire
1974 Egypt
1974 Congo
1974 Congo
1974 Zaire
1974 Zaire
1976 Ethiopia
1976 Egypt
1976 Egypt
1976 Ethiopia
1976 Guinea
1976 Ethiopia
1976 Nigeria
1976 Morocco
1976 Nigeria
1976 Morocco
1976 Morocco
1976 Zaire
1976 Guinea
1976 Morocco
1976 Morocco
1976 Guinea
1976 Nigeria
1976 Guinea
1978 Ghana
1978 Nigeria
1978 Zambia
1978 Nigeria
1978 Zambia
1978 Ghana
1978 Morocco
1978 Uganda
1978 Tunisia
1978 Morocco
1978 Congo
1978 Uganda
1978 Ghana
1978 Uganda
1978 Nigeria
1978 Ghana
1980 Nigeria
1980 Egypt
1980 Egypt
1980 Nigeria
1980 Ivory Coast
1980 Nigeria
1980 Ghana
1980 Morocco
1980 Algeria
1980 Ghana
1980 Algeria
1980 Morocco
1980 Nigeria
1980 Algeria
1980 Morocco
1980 Nigeria
1982 Libya
1982 Cameroon
1982 Cameroon
1982 Libya
1982 Ghana
1982 Libya
1982 Nigeria
1982 Algeria
1982 Zambia
1982 Algeria
1982 Algeria
1982 Zambia
1982 Ghana
1982 Libya
1982 Zambia
1982 Ghana
1984 Ivory Coast
1984 Egypt
1984 Cameroon
1984 Ivory Coast
1984 Egypt
1984 Ivory Coast
1984 Ghana
1984 Algeria
1984 Malawi
1984 Algeria
1984 Algeria
1984 Ghana
1984 Egypt
1984 Algeria
1984 Algeria
1984 Cameroon
1986 Senegal
1986 Ivory Coast
1986 Senegal
1986 Egypt
1986 Ivory Coast
1986 Egypt
1986 Algeria
1986 Cameroon
1986 Algeria
1986 Cameroon
1986 Morocco
1986 Cameroon
1986 Cameroon
1986 Egypt
1986 Ivory Coast
1986 Egypt
1988 Morocco
1988 Ivory Coast
1988 Ivory Coast
1988 Morocco
1988 Algeria
1988 Morocco
1988 Cameroon
1988 Nigeria
1988 Cameroon
1988 Egypt
1988 Cameroon
1988 Nigeria
1988 Nigeria
1988 Morocco
1988 Morocco
1988 Cameroon
1990 Algeria
1990 Ivory Coast
1990 Nigeria
1990 Algeria
1990 Nigeria
1990 Algeria
1990 Zambia
1990 Senegal
1990 Zambia
1990 Senegal
1990 Zambia
1990 Cameroon
1990 Zambia
1990 Algeria
1990 Zambia
1990 Algeria
1992 Nigeria
1992 Nigeria
1992 Senegal
1992 Cameroon
1992 Morocco
1992 Cameroon
1992 Ivory Coast
1992 Ivory Coast
1992 Algeria
1992 Zambia
1992 Ghana
1992 Ghana
1992 Nigeria
1992 Cameroon
1992 Ivory Coast
1992 Ghana
1992 Ghana
1992 Cameroon
1992 Nigeria
1992 Ivory Coast
1994 Tunisia
1994 Mali
1994 Tunisia
1994 Nigeria
1994 Egypt
1994 Nigeria
1994 Ivory Coast
1994 Zambia
1994 Zambia
1994 Ghana
1994 Senegal
1994 Ghana
1994 Zaire
1994 Egypt
1994 Zambia
1994 Ghana
1994 Nigeria
1994 Zambia
1994 Ivory Coast
1994 Nigeria
1996 South Africa
1996 Egypt
1996 Cameroon
1996 South Africa
1996 South Africa
1996 Angola
1996 Zambia
1996 Sierra Leone
1996 Algeria
1996 Zambia
1996 Algeria
1996 Zambia
1996 Gabon
1996 Gabon
1996 Zaire
1996 Ghana
1996 Tunisia
1996 Ghana
1996 Ivory Coast
1996 Tunisia
1996 Ghana
1996 South Africa
1996 Zambia
1996 Gabon
1996 Ghana
1996 South Africa
1996 Zambia
1996 Ghana
1996 South Africa
1998 Burkina Faso
1998 Algeria
1998 Cameroon
1998 Burkina Faso
1998 Burkina Faso
1998 Cameroon
1998 DR Congo
1998 Ghana
1998 Tunisia
1998 Togo
1998 DR Congo
1998 Tunisia
1998 South Africa
1998 Ivory Coast
1998 Ivory Coast
1998 Angola
1998 Ivory Coast
1998 South Africa
1998 Morocco
1998 Egypt
1998 Egypt
1998 Morocco
1998 Zambia
1998 Morocco
1998 Cameroon
1998 Tunisia
1998 Ivory Coast
1998 Morocco
1998 DR Congo
1998 Burkina Faso
1998 DR Congo
1998 South Africa
2000 Ghana
2000 Ivory Coast
2000 Ghana
2000 Cameroon
2000 Ghana
2000 Cameroon
2000 South Africa
2000 DR Congo
2000 South Africa
2000 Algeria
2000 South Africa
2000 DR Congo
2000 Egypt
2000 Burkina Faso
2000 Egypt
2000 Zambia
2000 Egypt
2000 Zambia
2000 Nigeria
2000 Morocco
2000 Nigeria
2000 Tunisia
2000 Nigeria
2000 Tunisia
2000 Cameroon
2000 South Africa
2000 Egypt
2000 Nigeria
2000 Nigeria
2000 Cameroon
2000 South Africa
2000 Nigeria
2002 Mali
2002 Algeria
2002 Mali
2002 Liberia
2002 Mali
2002 Liberia
2002 South Africa
2002 Morocco
2002 South Africa
2002 Burkina Faso
2002 South Africa
2002 Burkina Faso
2002 Cameroon
2002 Togo
2002 Cameroon
2002 DR Congo
2002 Cameroon
2002 DR Congo
2002 Egypt
2002 Zambia
2002 Egypt
2002 Senegal
2002 Egypt
2002 Senegal
2002 South Africa
2002 Nigeria
2002 Cameroon
2002 Senegal
2002 Nigeria
2002 Mali
2002 Nigeria
2002 Senegal
2004 Tunisia
2004 DR Congo
2004 Rwanda
2004 Tunisia
2004 Tunisia
2004 Rwanda
2004 Kenya
2004 Senegal
2004 Senegal
2004 Burkina Faso
2004 Senegal
2004 Burkina Faso
2004 Zimbabwe
2004 Cameroon
2004 Cameroon
2004 Algeria
2004 Cameroon
2004 Algeria
2004 Nigeria
2004 South Africa
2004 Nigeria
2004 Morocco
2004 Morocco
2004 Nigeria
2004 Mali
2004 Tunisia
2004 Cameroon
2004 Morocco
2004 Tunisia
2004 Morocco
2004 Nigeria
2004 Tunisia
2006 Egypt
2006 Morocco
2006 Libya
2006 Egypt
2006 Egypt
2006 Libya
2006 Cameroon
2006 Togo
2006 Angola
2006 Cameroon
2006 Angola
2006 Cameroon
2006 Tunisia
2006 South Africa
2006 Zambia
2006 Tunisia
2006 Tunisia
2006 Zambia
2006 Nigeria
2006 Zimbabwe
2006 Ghana
2006 Nigeria
2006 Nigeria
2006 Ghana
2006 Guinea
2006 Egypt
2006 Nigeria
2006 Cameroon
2006 Egypt
2006 Nigeria
2006 Senegal
2006 Egypt
2008 Ghana
2008 Namibia
2008 Guinea
2008 Ghana
2008 Ghana
2008 Guinea
2008 Nigeria
2008 Mali
2008 Ivory Coast
2008 Nigeria
2008 Nigeria
2008 Ivory Coast
2008 Egypt
2008 Sudan
2008 Cameroon
2008 Egypt
2008 Cameroon
2008 Egypt
2008 Tunisia
2008 South Africa
2008 Senegal
2008 Tunisia
2008 Senegal
2008 Tunisia
2008 Ghana
2008 Ivory Coast
2008 Egypt
2008 Tunisia
2008 Ghana
2008 Ivory Coast
2008 Ghana
2008 Cameroon
2010 Angola
2010 Malawi
2010 Mali
2010 Angola
2010 Angola
2010 Mali
2010 Ivory Coast
2010 Ghana
2010 Burkina Faso
2010 Ivory Coast
2010 Burkina Faso
2010 Ivory Coast
2010 Egypt
2010 Mozambique
2010 Nigeria
2010 Egypt
2010 Egypt
2010 Nigeria
2010 Cameroon
2010 Zambia
2010 Gabon
2010 Cameroon
2010 Gabon
2010 Cameroon
2010 Angola
2010 Ivory Coast
2010 Egypt
2010 Zambia
2010 Ghana
2010 Algeria
2010 Nigeria
2010 Ghana
2012 Zambia
2012 Ivory Coast
2012 Gabon
2012 Ghana
2012 Zambia
2012 Mali
2012 Ghana
2012 Zambia
2013 Ghana
2013 South Africa
2013 Ivory Coast
2013 Burkina Faso
2013 Mali
2013 Burkina Faso
2013 Mali
2013 Nigeria
2015 Congo
2015 Tunisia
2015 Ghana
2015 Ivory Coast
2015 DR Congo
2015 Ghana
2015 DR Congo
2015 Ivory Coast
2017 Gabon
2017 Burkina Faso
2017 Gabon
2017 Cameroon
2017 Cameroon
2017 Guinea-Bissau
2017 Algeria
2017 Tunisia
2017 Algeria
2017 Senegal
2017 Senegal
2017 Zimbabwe
2017 Ivory Coast
2017 DR Congo
2017 Ivory Coast
2017 Morocco
2017 Morocco
2017 Togo
2017 Ghana
2017 Mali
2017 Ghana
2017 Egypt
2017 Egypt
2017 Uganda
2017 Burkina Faso
2017 Senegal
2017 DR Congo
2017 Egypt
2017 Burkina Faso
2017 Cameroon
2017 Burkina Faso
2017 Egypt
2019 Egypt
2019 DR Congo
2019 Uganda
2019 Egypt
2019 Uganda
2019 Zimbabwe
2019 Nigeria
2019 Guinea
2019 Nigeria
2019 Madagascar
2019 Madagascar
2019 Burundi
2019 Senegal
2019 Algeria
2019 Senegal
2019 Kenya
2019 Kenya
2019 Tanzania
2019 Morocco
2019 Ivory Coast
2019 Morocco
2019 South Africa
2019 South Africa
2019 Namibia
2019 Tunisia
2019 Mali
2019 Tunisia
2019 Mauritania
2019 Mauritania
2019 Angola
2019 Cameroon
2019 Ghana
2019 Cameroon
2019 Benin
2019 Benin
2019 Guinea-Bissau
2019 Morocco
2019 Uganda
2019 Nigeria
2019 Egypt
2019 Madagascar
2019 Algeria
2019 Mali
2019 Ghana

19.	Write a Pandas program to change the order of your DataFrame columns.

In [30]:
# to change the order of the columns
df2 = df1[['Year', 'HomeTeamGoals', 'HomeTeam', 'Stadium', 'AwayTeam', 'Stage', 'AwayTeamGoals', 'City', 'SpecialWinConditions', 'MyColumn', 'Attendance']]
df2

,Year,HomeTeamGoals,HomeTeam,Stadium,AwayTeam,Stage,AwayTeamGoals,City,SpecialWinConditions,MyColumn,Attendance
0,1957,1.0,Sudan,Municipal Stadium,Egypt,Semifinals,2.0,Khartoum,NaN,,30000.0
1,1957,NaN,Ethiopia,NaN,South Africa,Semifinals,NaN,NaN,Ethiopia wins due to disqualification of othe...,,NaN
2,1957,4.0,Egypt,Municipal Stadium,Ethiopia,Final,10.0,Khartoum,NaN,,30000.0
3,1959,4.0,Egypt,Prince Farouk Stadium,Ethiopia,Final Tournament,0.0,Cairo,NaN,,30000.0
4,1959,1.0,Sudan,Prince Farouk Stadium,Ethiopia,Final Tournament,0.0,Cairo,NaN,,20000.0
...,...,...,...,...,...,...,...,...,...,...,...
607,2019,0.0,Uganda,Cairo International Stadium,Senegal,Round of 16,1.0,Cairo,NaN,,6950.0
608,2019,3.0,Nigeria,Alexandria Stadium,Cameroon,Round of 16,2.0,Alexandria,NaN,,10000.0
609,2019,0.0,Egypt,Cairo International Stadium,South Africa,Round of 16,1.0,Cairo,NaN,,75000.0
610,2019,2.0,Madagascar,Alexandria Stadium,DR Congo,Round of 16,2.0,Alexandria,Madagascar win on Penalities 4-2,,5890.0
611,2019,3.0,Algeria,30 June Stadium,Guinea,Round of 16,0.0,Cairo,NaN,,8205.0

20.	Write a Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.

In [31]:
df1 = df1[df1['HomeTeamGoals'] != 0]
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,MyColumn
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,2019,25 June 2019 (2019-06-25),22:00,Ghana,Benin,2.0,2.0,Group F,NaN,Ismailia Stadium,Ismailia,8094.0,
606,2019,5 July 2019 (2019-07-05),18:00,Morocco,Benin,1.0,1.0,Round of 16,Benin win on Penalities 1-4,Al Salam Stadium,Cairo,7500.0,
608,2019,6 July 2019 (2019-07-06),18:00,Nigeria,Cameroon,3.0,2.0,Round of 16,NaN,Alexandria Stadium,Alexandria,10000.0,
610,2019,7 July 2019 (2019-07-07),18:00,Madagascar,DR Congo,2.0,2.0,Round of 16,Madagascar win on Penalities 4-2,Alexandria Stadium,Alexandria,5890.0,
611,2019,7 July 2019 (2019-07-07),21:00,Algeria,Guinea,3.0,0.0,Round of 16,NaN,30 June Stadium,Cairo,8205.0,